
body {
    margin: 0 auto;
    width: 80%;
    background: black;
    color: white;
    display: flex;
    font-family: 'Ultra', serif;
}

h1 {
    font-weight: 400;
    text-align: center;
}

.searchFood {
    text-align: center;
}

input {
    width: 60%;
    padding: 5px;
    background: none;
    color: white;
    border-style: none;
    border: 1px solid white ;
    border-radius: 3px;
}

input::placeholder {
    color: white;
}

section {
    flex: 1;
}

.information {
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    border-radius: 100%;
    width: 12%;
    text-align: center;
    height: 125px;
    float: left;
}

img:hover {
    border: 5px solid white;
}

p {
    text-align: center;
    padding: 10px;
    height: fit-content;
}

button {
    text-decoration: none;
    background: none;
    border-style: none;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
}

.search {
    background: #168546;
    flex: .25;
    padding: 10px;
    height: 925px;
}

#result {
    float: left;
}

