
body {
    margin: 0 auto;
    width: 80%;
    background: black;
    color: white;
    display: flex;
    font-family: 'Ultra', serif;
    height: 100%;
}

h1 {
    font-weight: 400;
    text-align: center;
}

.searchFood {
    text-align: center;
}

input {
    width: 60%;
    padding: 5px;
    background: none;
    color: white;
    border-style: none;
    border: 1px solid white ;
    border-radius: 3px;
}

input::placeholder {
    color: white;
}

section {
    flex: 1;
}

.information {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
    padding-left: 17%;
}

p {
    overflow: hidden;
    word-wrap: break-word;
    font-size: .8em;
    font-weight: 200;
}

img {
    border-radius: 100%;
    width: 12%;
    text-align: center;
    height: 150px;
    margin-left: 36%;
    /* float: left; */
}

img:hover {
    border: 5px solid white;
}

p {
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
}

button {
    text-decoration: none;
    background: none;
    border-style: none;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
}

.search {
    background: #168546;
    flex: .25;
    padding: 10px;
    height: 600px;
}

#result {
    float: left;
}

.newdish {
    display: flex;
    width: 25%;
    position: fixed;
    padding: 50px 20px;
    right: 70px;
    top: 10%;
    justify-items: center;
    background: #622c86;
    border-radius: 7px;
}

.newdish h3 {
    font-weight: 300;
    color: rgb(205, 174, 0);
}

.newFood, .newRecipe, #update {
    width: 100%;
    margin: 55px 0;
    margin-left: 10px;
    text-align: center;
    height: 60px;

}

#update {
    height: 70px;
}

#update:hover {
    background-color: #168546;
    border: 0px;
}

.listTitle {
    padding: 20px 20px 40px 25%;
    color: rgb(205, 174, 0);
}